<script type="text/javascript" src="/assets/js/index.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/index.css" />

{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<div class="nav">
    <ul>
        <li><a href="http://ingledow.co.uk/">HOME</a></li>
        <li><a href="/">BLOG</a></li>
        <li><a href="http://dingledow.typify.io/">ABOUT</a></li>
        <li><a href="http://ingledow.co.uk/contact/">CONTACT</a></li>
    </ul>
</div>

<div class="post_header">
    <div class="logo">
        <img src="/assets/img/logo.jpg">
    </div>
</div>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
            <span class="post-meta"><time datetime="{{date format='DD-MMMM-YYYY'}}">{{date format="DD MMMM YYYY"}}</time></span>
            

        </header>
        <section class="post-excerpt">
            {{content words="30"}}
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>

<footer class="post-footer">

    <p>David Ingledow &copy; 2014</p>
    <a class="icon-twitter hidden" href="https://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <span class="hidden">Twitter</span>
    </a>
    <a href="https://plus.google.com/108117619306984245111?rel=author"></a>

</footer>