<script type="text/javascript" src="/assets/js/post.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/css/post.css" />

{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
	the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

	<div class="nav">
		<ul>
			<li><a href="http://ingledow.co.uk/">HOME</a></li>
        	<li><a href="/">BLOG</a></li>
        	<li><a href="http://dingledow.typify.io/">ABOUT</a></li>
        	<li><a href="http://ingledow.co.uk/contact/">CONTACT</a></li>
		</ul>
	</div>

	<div class="post_header">
		<div class="logo">
			<img src="/assets/img/logo.jpg">
		</div>
	</div>

	<article class="{{post_class}}">

		{{! Everything inside the #post tags pulls data from the post }}
		{{#post}}

		<h1 class="post-title">{{{title}}}</h1>

		{{! Everything below outputs content of the the post which has been published }}
		<span class="post-date"><time datetime="{{date format="DD-MMMM-YYYY"}}">{{date format='DD MMMM YYYY'}}</time></span>

		<section class="post-content">
			{{content}}
		</section>

		<section class="author">
			<p>by {{author.name}}</p>
			<img src="{{author.image}}">
		</section>

		<footer class="post-footer">

			<p>David Ingledow &copy; 2014</p>
			<a class="icon-twitter hidden" href="https://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
				onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
				<span>Twitter</span>
			</a>
			<a href="https://plus.google.com/108117619306984245111?rel=author"></a>

		</footer>

		{{/post}}

	</article>

</main>